@inject NavigationManager navigationManager
@page "/"
@page "/Game"

<div class="wrapper">
    @if (_screens == Screens.LOGIN)
    {
        <div id="login">
            <input type="text" placeholder="Player Name" @bind="_player.Name">
            <input type="number" placeholder="Lobby ID" @bind="_lobby.ID">
            <button @onclick="async () => await Play()">PLAY</button>
        </div>
    }
    else if (_screens == Screens.LOBBY)
    {
        <div id="lobby">
            <button id="back-btn" @onclick="async () => await LeaveLobby()">GO TO BACK</button>
            <div id="lobby-settings">
                <fieldset>
                    <legend>Game Options</legend>
                    <div class="lobby-setting">LOBBY ID @_lobby.ID</div>
                    <div class="lobby-setting">
                        <span>Number of win</span>
                        <select @bind="_lobby.Game.NumberOfWin">
                            @foreach (var value in GameConfig.SelectNumberOfWin)
                            {
                                if (value == GameConfig.SelectNumberOfWin[GameConfig.DefaultNumberOfWinIndex])
                                {
                                    <option value="@value" selected>@value</option>
                                }
                                else
                                {
                                    <option value="@value">@value</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="lobby-setting">
                        <span>Remaining Pass</span>
                        <select @bind="_lobby.Game.RightToPass">
                            @foreach (var value in GameConfig.SelectRightToPass)
                            {
                                if (value == GameConfig.SelectRightToPass[GameConfig.DefaultRightToPassIndex])
                                {
                                    <option value="@value" selected>@value</option>
                                }
                                else
                                {
                                    <option value="@value">@value</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="lobby-setting">
                        <span>Time For Speaker</span>
                        <select @bind="_lobby.Game.Counter">
                            @foreach (var value in GameConfig.SelectCounter)
                            {
                                if (value == GameConfig.SelectCounter[GameConfig.DefaultCounterIndex])
                                {
                                    <option value="@value" selected>@value</option>
                                }
                                else
                                {
                                    <option value="@value">@value</option>
                                }
                            }
                        </select>
                    </div>
                    @if (!_showTeam1JoinBtn || !_showTeam2JoinBtn) // Herhangi bir takım seçmiş ise
                    {
                        @if (!_isReady)
                        {
                            <button id="ready-btn" @onclick=" async () => await CheckPlayersReady(true)">READY</button>
                        }
                        else
                        {
                            <button id="ready-btn" @onclick="async () => await CheckPlayersReady(false)">UNREADY</button>
                        }
                    }
                    else
                    {
                        <button id="ready-btn" disabled>READY</button>
                    }
                </fieldset>
            </div>
            <div id="lists">
                <table class="list-table">
                    <thead>
                        <tr>
                            <th>@_lobby.Team1.Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in _lobby.Team1.Players)
                        {
                            <tr>
                                <td>@player.Name</td>
                            </tr>
                        }
                        @if (_showTeam1JoinBtn)
                        {
                            <tr>
                                <td>
                                    <button class="join-btn" @onclick="async () => await ChangeTeam(_lobby.Team1,_lobby.Team2)">JOIN</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table class="list-table">
                    <thead>
                        <tr>
                            <th>PLAYERS</th>
                            @if (_lobby.Admin == _player)
                            {
                                <th>ADMIN</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in _lobby.Players)
                        {
                            <tr>
                                <td>@player.Name</td>
                                @if (_lobby.Admin == _player)
                                {
                                    <td>
                                        <button id="kick-btn">KICK</button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <table class="list-table">
                    <thead>
                        <tr>
                            <th>@_lobby.Team2.Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in _lobby.Team2.Players)
                        {
                            <tr>
                                <td>@player.Name</td>
                            </tr>
                        }
                        @if (_showTeam2JoinBtn)
                        {
                            <tr>
                                <td>
                                    <button class="join-btn" @onclick="async() => await ChangeTeam(_lobby.Team2,_lobby.Team1)">JOIN</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else if (_screens == Screens.ROUND_START)
    {
        <div id="round-start">
            <div id="scoreboard">
                <div class="score">
                    <span>@_lobby.Team1.Name</span>
                    <span>@_lobby.Game.Team1Score</span>
                </div>
                <div class="score">VS</div>
                <div class="score">
                    <span>@_lobby.Team2.Name</span>
                    <span>@_lobby.Game.Team2Score</span>
                </div>
                <div class="number-of-win">
                    Number Of Win: @_lobby.Game.NumberOfWin
                </div>
            </div>
            <div class="next-round-info">
                <div>Next Round Team: @_lobby.Game.CurrentPlayingTeam.Name</div>
                <div>Next Round Narrator Player: @_lobby.Game.CurrentNarratorPlayer.Name</div>
                <div id="round-start-counter">
                    Round starts in @_roundStartCounter second
                </div>
            </div>
        </div>

    }
    else if (_screens == Screens.GAME)
    {
        <div id="game">
            <div id="game-header">
                <div id="scoreboard">
                    <div class="score">
                        <span>@_lobby.Team1.Name</span>
                        <span>@_lobby.Game.Team1Score</span>
                    </div>
                    <div class="score">VS</div>
                    <div class="score">
                        <span>@_lobby.Team2.Name</span>
                        <span>@_lobby.Game.Team2Score</span>
                    </div>
                    <div class="number-of-win">
                        Number Of Win: @_lobby.Game.NumberOfWin
                    </div>
                    <div id="counter">Time: @_gameCounter</div>
                </div>
            </div>
            <div id="game-body">
                <table class="list-table">
                    <thead>
                        <tr>
                            <th>@_lobby.Team1.Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in _lobby.Team1.Players)
                        {
                            <tr>
                                <td>@player.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="word-card">
                    <div id="word-card-header">
                        <div id="word">
                            @_lobby.Game.WordCard.Word
                        </div>
                    </div>
                    <div id="word-card-body">
                        <ul>
                            @foreach (var forbiddenWord in @_lobby.Game.WordCard.ForbiddenWords)
                            {
                                <li>@forbiddenWord</li>
                            }
                        </ul>
                    </div>
                    <div id="word-card-controller">
                        <button id="true-btn">TRUE</button>
                        <button id="taboo-btn">TABOO</button>
                        <button id="pass-btn">PASS</button>
                    </div>
                </div>
                <table class="list-table">
                    <thead>
                        <tr>
                            <th>@_lobby.Team2.Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in _lobby.Team2.Players)
                        {
                            <tr>
                                <td>@player.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else // _screens == Screens.GAME_OVER
    {
        <div id="game-over">
            <div id="scoreboard">
                <div class="score">
                    <span>@_lobby.Team1.Name</span>
                    <span>@_lobby.Game.Team1Score</span>
                </div>
                <div class="score">VS</div>
                <div class="score">
                    <span>@_lobby.Team2.Name</span>
                    <span>@_lobby.Game.Team2Score</span>
                </div>
                <div class="number-of-win">
                    Number Of Win: @_lobby.Game.NumberOfWin
                </div>
            </div>
            <div class="winner-info">
                <div>
                    Winner Team: @_lobby.Game.CurrentPlayingTeam
                </div>
            </div>
            <button @onclick="()=>_screens = Screens.LOBBY">GO TO LOBBY</button>
        </div>
    }
</div>

@code{
    #region Variables
    #region UI
    private Screens _screens = Screens.LOGIN;
    private bool _showTeam1JoinBtn = true;
    private bool _showTeam2JoinBtn = true;
    private bool _isReady = false;
    #endregion
    private Player _player;
    private Lobby _lobby;
    private MyTimer _timer;
    private int _roundStartCounter = 0;
    private int _gameCounter = 0;
    #endregion

    #region Initialize
    private string _hubUrl;
    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        // Set variables
        _player = new Player();
        _lobby = new Lobby(_player);

        string baseUrl = navigationManager.BaseUri;
        _hubUrl = baseUrl.TrimEnd('/') + GameHub.url;
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(_hubUrl)
            .Build();

        _hubConnection.On<string>("GetPlayerID", (string id) => _player.ID = id);
        _hubConnection.On("Refresh", () => StateHasChanged());
        _hubConnection.On("RoundStart", () =>
        {
            _roundStartCounter = GameConfig.RoundStartCounter;
            SetScreen(Screens.ROUND_START);
            SetRoundStartCounter();
        });
        _hubConnection.On("LeaveLobby", () =>
        {
            _lobby = new Lobby(_player);
            _showTeam1JoinBtn = true;
            _showTeam2JoinBtn = true;
            _isReady = false;
            SetScreen(Screens.LOGIN);
        });
        await _hubConnection.StartAsync();
    }
    #endregion

    private void SetScreen(Screens screen)
    {
        _screens = screen;
        StateHasChanged();
    }

    #region LOGIN LOBBY
    private async Task Play()
    {
        //TODO: Doğrulama için class oluştur
        if (true)
        {
            if (_lobby.ID == null || _lobby.ID == String.Empty) await CreateLobby();
            else await JoinLobby();
            SetScreen(Screens.LOBBY);
        }
    }
    private async Task CreateLobby()
    {
        _lobby = GameDatabase.Lobbies.CreateLobby(_player);
        await _hubConnection.InvokeAsync("CreateLobby", _lobby.Admin.ID, _lobby.ID);
    }
    private async Task JoinLobby()
    {
        _lobby = GameDatabase.Lobbies.JoinLobby(_player, _lobby.ID);
        await _hubConnection.InvokeAsync("JoinLobby", _player.ID, _lobby.ID);
    }
    #endregion

    #region LOBBY
    private async Task ChangeTeam(Team newTeam, Team oldTeam)
    {
        _player.ChangeTeam(newTeam, oldTeam);
        if (newTeam == _lobby.Team1) { _showTeam1JoinBtn = false; _showTeam2JoinBtn = true; }
        else { _showTeam2JoinBtn = false; _showTeam1JoinBtn = true; }
        await _hubConnection.InvokeAsync("ChangeTeam", _lobby.ID);
    }
    private async Task CheckPlayersReady(bool isReady)
    {
        if (isReady)
        {
            _lobby.ReadyPlayers.Add(_player);
            if (_lobby.CheckArePlayersReady())
            {
                _lobby.ClearReadyPlayers();
                await _hubConnection.InvokeAsync("RoundStart", _lobby.ID, _lobby.Game.Counter);
            }
        }
        else _lobby.ReadyPlayers.Remove(_player);

        _isReady = isReady;
        StateHasChanged();
    }
    private async Task LeaveLobby() => await _hubConnection.InvokeAsync("LeaveLobby", _player.ID, _lobby.ID);
    #endregion

    #region ROUND START
    private void SetRoundStartCounter()
    {
        _timer = new MyTimer(1000, _roundStartCounter, () =>
        {
            _roundStartCounter = _timer.Counter;
            InvokeAsync(StateHasChanged);
        }, StartGame);
        _timer.StartTimer();
    }
    #endregion

    #region GAME
    private void StartGame() { InvokeAsync(() => SetScreen(Screens.GAME)); SetGameCounter(); }
    private void SetGameCounter()
    {
        _gameCounter = _lobby.Game.Counter;
        _timer = new MyTimer(1000, _gameCounter, () =>
        {
            _gameCounter = _timer.Counter;
            InvokeAsync(StateHasChanged);
        });
        _timer.StartTimer();
    }
    #endregion

    #region WORD CARD CONTROLLER
    // TODO: True,Taboo,Pass Buton işlevleri ve hubdan refresh gönder
    #endregion
}